// Width Sizes
$width30: 30%;
$widthFull: 100%;
//--------------
// Fonts 
// Sans Serif Stack
$sansSerifStack: "Josefin Sans",
"Trebuchet MS",
Helvetica,
sans-serif;
// Serif Stack
$serifStack: Cardo,
"Palatino Linotype",
"Book Antiqua",
Palatino,
serif;
// Font-Size
$twentiethSize: 0.2rem;
$quarterSize: 0.25rem;
$halfSize: 0.5rem;
$defaultSize: 1rem;
$augmentedFourthSize1: 1.414rem;
$augmentedFourthSize2: 1.999rem;
$doubleSize: 2rem;
$augmentedFourthSize3: 2.827rem;
$augmentedFourthSize4: 3.998rem;
$quadrupleSize: 4rem;
$sixTimesSize: 6.3968rem;
// Font-Weight
$weight100: 100;
$weight400: 400;
//-----------------------------------------------------------------------------
// Colors
$white: #FFF;
$lightBlue: #C7F7FF;
$medBlue: #89C0C9;
$darkBlue: #3a5E63;
$lightBrown: #C9A689;
$darkBrown: #7C593C;
$lightGrey: #d4d4d4;
$darkGrey: #222;